(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    highlight_focused: None,
    fill_high_values: None,
    waves: Some((
        source: File("dump.fst"),
        format: Fst,
        active_scope: Some(WaveScope((
            strs: [
                "sdram",
            ],
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (6),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (9),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (10),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (11),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (12),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (13),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (14),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (15),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (16),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (18),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (17),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (19),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (21),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (25),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (22),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (23),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (24),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (21): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (3): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (10): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram",
                        ],
                    ),
                    name: "data_read",
                ),
                color: None,
                background_color: None,
                display_name: "data_read [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (22): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram",
                        ],
                    ),
                    name: "post_delay_state",
                ),
                color: None,
                background_color: None,
                display_name: "post_delay_state [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Enum"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (4): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram",
                        ],
                    ),
                    name: "read",
                ),
                color: None,
                background_color: None,
                display_name: "read",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram",
                        ],
                    ),
                    name: "state",
                ),
                color: None,
                background_color: None,
                display_name: "state [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Enum"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram",
                        ],
                    ),
                    name: "clk",
                ),
                color: None,
                background_color: None,
                display_name: "clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (18): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram",
                        ],
                    ),
                    name: "sd_data_in",
                ),
                color: None,
                background_color: None,
                display_name: "sd_data_in [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (15): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram",
                        ],
                    ),
                    name: "sd_bank",
                ),
                color: None,
                background_color: None,
                display_name: "sd_bank [1:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram",
                        ],
                    ),
                    name: "write",
                ),
                color: None,
                background_color: None,
                display_name: "write",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (16): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram",
                        ],
                    ),
                    name: "sd_addr",
                ),
                color: None,
                background_color: None,
                display_name: "sd_addr [12:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (9): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram",
                        ],
                    ),
                    name: "data_write",
                ),
                color: None,
                background_color: None,
                display_name: "data_write [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (14): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram",
                        ],
                    ),
                    name: "sd_cs",
                ),
                color: None,
                background_color: None,
                display_name: "sd_cs",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (24): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram",
                        ],
                    ),
                    name: "wait_cycles",
                ),
                color: None,
                background_color: None,
                display_name: "wait_cycles [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (25): Group((
                name: "Wait",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram",
                        ],
                    ),
                    name: "addr",
                ),
                color: None,
                background_color: None,
                display_name: "addr [25:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (19): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram",
                        ],
                    ),
                    name: "sd_drive_data",
                ),
                color: None,
                background_color: None,
                display_name: "sd_drive_data",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram",
                        ],
                    ),
                    name: "reset",
                ),
                color: None,
                background_color: None,
                display_name: "reset",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (13): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram",
                        ],
                    ),
                    name: "sd_cmd",
                ),
                color: None,
                background_color: None,
                display_name: "sd_cmd [2:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (17): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram",
                        ],
                    ),
                    name: "sd_data_out",
                ),
                color: None,
                background_color: None,
                display_name: "sd_data_out [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (12): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (23): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram",
                        ],
                    ),
                    name: "delay",
                ),
                color: None,
                background_color: None,
                display_name: "delay [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (11): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram",
                        ],
                    ),
                    name: "data_read_val",
                ),
                color: None,
                background_color: None,
                display_name: "data_read_val",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
        },
        display_item_ref_counter: 25,
        viewports: [
            (
                curr_left: (0.01589877136225707),
                curr_right: (0.02997135210719632),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            129436,
        ])),
        markers: {},
        focused_item: Some((20)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: Some((
        before: (20),
        level: 0,
    )),
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    rename_target: None,
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
)