(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("dump.fst"),
        format: Fst,
        active_scope: Some(WaveScope((
            strs: [
                "sdram",
            ],
            id: Wellen((2)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (115),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (116),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (117),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (137),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (130),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (131),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (132),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (133),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (134),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (135),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (136),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (129),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (128),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (118),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (119),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (120),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (121),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (122),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (123),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (124),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (125),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (126),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (127),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (115): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "clk",
                    id: Wellen((21)),
                ),
                color: None,
                background_color: None,
                display_name: "clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (121): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "sdram_addr",
                    id: Wellen((33)),
                ),
                color: None,
                background_color: None,
                display_name: "sdram_addr [12:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (130): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "read",
                    id: Wellen((23)),
                ),
                color: None,
                background_color: None,
                display_name: "read",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (123): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "sdram_cas",
                    id: Wellen((35)),
                ),
                color: None,
                background_color: None,
                display_name: "sdram_cas",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (126): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "sdram_data_out",
                    id: Wellen((38)),
                ),
                color: None,
                background_color: None,
                display_name: "sdram_data_out [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (137): Group((
                name: "SOC I/O",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (119): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "sdram_cs",
                    id: Wellen((31)),
                ),
                color: None,
                background_color: None,
                display_name: "sdram_cs",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (127): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "sdram_drive_data",
                    id: Wellen((39)),
                ),
                color: None,
                background_color: None,
                display_name: "sdram_drive_data",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (124): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "sdram_we",
                    id: Wellen((36)),
                ),
                color: None,
                background_color: None,
                display_name: "sdram_we",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (136): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "data_read_val",
                    id: Wellen((29)),
                ),
                color: None,
                background_color: None,
                display_name: "data_read_val",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (132): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "addr",
                    id: Wellen((25)),
                ),
                color: None,
                background_color: None,
                display_name: "addr [25:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (116): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "reset",
                    id: Wellen((22)),
                ),
                color: None,
                background_color: None,
                display_name: "reset",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (118): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "sdram_clk",
                    id: Wellen((30)),
                ),
                color: None,
                background_color: None,
                display_name: "sdram_clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (120): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "sdram_bank",
                    id: Wellen((32)),
                ),
                color: None,
                background_color: None,
                display_name: "sdram_bank [1:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (128): Group((
                name: "DRAM I/O",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (129): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (131): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "write",
                    id: Wellen((24)),
                ),
                color: None,
                background_color: None,
                display_name: "write",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (133): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "cmd_ready",
                    id: Wellen((26)),
                ),
                color: None,
                background_color: None,
                display_name: "cmd_ready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (134): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "data_write",
                    id: Wellen((27)),
                ),
                color: None,
                background_color: None,
                display_name: "data_write [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (135): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "data_read",
                    id: Wellen((28)),
                ),
                color: None,
                background_color: None,
                display_name: "data_read [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (117): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (122): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "sdram_ras",
                    id: Wellen((34)),
                ),
                color: None,
                background_color: None,
                display_name: "sdram_ras",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (125): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "sdram_data_in",
                    id: Wellen((37)),
                ),
                color: None,
                background_color: None,
                display_name: "sdram_data_in [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
        },
        display_item_ref_counter: 137,
        viewports: [
            (
                curr_left: (0.017987842066744107),
                curr_right: (0.018129297375978057),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            200433256,
        ])),
        markers: {},
        focused_item: Some((3)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    rename_target: None,
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
)